:root {
  --color-0: #ffee94;
  --color-1: #0e0217;
  --color-2: #23198033;
  --color-3: #73ffa033;

  --color-blue: #172b7a;
  --color-blue-dark: #0f1c50;
  --color-blue-dark2: #0e0d28;
  --color-13: #30a2ff66;
  --color-14: #1b5c91;
  --color-4: #30a2ff99;
  --color-5: #30a2ff;
  --color-5b: #30a2ff25;

  --color-6: #1cbcff;
  --color-7: #19fcff;
  --color-8: #020302;
  --color-9: #1976ff99;

  --color-34: #1a154d33;
  --color-12: #1a154d66;
  --color-10: #1a154d;

  --color-14: #5d6380;
  --color-15: #40357a;
  --color-16: #392796;
  --color-17: #332a29;
  --color-18: #ffff4d;
  --color-19: #ffff4d1a;
  --color-20: #ffff4d33;
  --color-21: #2413bf33;
  --color-21b: #2413bf59;

  /* background */
  --color-22: #02061a;
  --color-23: #081030;
  --color-26: #090921;

  --color-27: #5eff84;
  --color-28: #dcff5c;
  --color-29: #dcff5c25;
  --color-30: #fc6b0d;
  --color-31: #ffbb36;
  --color-32: #3b2424;
  --color-36: #3b2424;

  --color-11: #000;
  --color-24: #ffffff;
  --color-25: #ffffff44;
  --color-33: #ffffff4d;
  --color-35: #ffffffc0;
  --color-36: #ffffff73;
  --vscode-list-focusAndSelectionOutline: var(--color-blue);
  --vscode-breadcrumb-background: var(--color-blue-dark);
  --jp-widgets-label-color: var(--color-35) !important;
  --jp-widgets-color: var(--color-35) !important;
}

.mtk1 {
  color: var(--color-35);
}

.mtk3,
.mtk6 {
  color: var(--color-0);
  text-shadow: 0 0 2px var(--color-1), 0 0 5px var(--color-2),
    0 0 10px var(--color-3);
}

.mtk3.mtki {
  font-style: italic;
  color: var(--color-4);
}

.mtk4,
.mtk5,
.mtk11,
.mtk14 {
  color: var(--color-5);
}

.mtk8,
.mtk9 {
  color: var(--color-7) !important;
  text-shadow: 0 0 2px var(--color-21), 0 0 35px var(--color-9),
    0 0 10px var(--color-9), 0 0 2px var(--color-9) !important;
  font-style: italic !important;
}

.mtk7 {
  color: var(--color-10);
  text-shadow: 0 0 2px var(--color-11), 0 0 10px var(--color-12),
    0 0 5px var(--color-12), 0 0 25px var(--color-12);
}

.monaco-workbench {
  --vscode-notebookScrollbarSlider-background: var(--color-13);
  --vscode-notebookScrollbarSlider-activeBackground: var(--color-14);
  --vscode-notebookScrollbarSlider-hoverBackground: var(--color-5);
}

.monaco-scrollable-element > .visible {
  transition: opacity 1.6s cubic-bezier(0.22, 0.28, 0, 1.65);
}

/* .mtk8 {
        color: var(--color-15);
        text-shadow: 0 0 2px var(--color-8), 0 0 10px var(--color-16), 0 0 35px var(--color-17);
      } */

.mtk7,
.mtk10 {
  color: var(--color-18);
  text-shadow: 0 0 2px var(--color-21), 0 0 35px var(--color-25),
    0 0 10px var(--color-18), 0 0 2px var(--color-18);
}

.mtk10 {
  font-style: italic;
}

.monaco-editor .margin,
.monaco-editor-background,
.monaco-editor .inputarea.ime-input {
  background: transparent;
}

.monaco-workbench
  .part.editor
  > .content
  .editor-group-container.empty
  .editor-group-letterpress {
  /*Letter color in: stop-color='%23HEX'*/
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='41px' height='40px' viewBox='0 0 41 40' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3ClinearGradient x1='50%25' y1='0%25' x2='50%25' y2='97.6652818%25' id='linearGradient-1'%3E%3Cstop stop-color='%2303F2FE' offset='0%25'%3E%3C/stop%3E%3Cstop stop-color='%230A72FF' offset='100%25'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='letterpress-dark' fill='url(%23linearGradient-1)'%3E%3Cg id='Group'%3E%3Cpath d='M30.2354,39.8836 C29.9195,39.8862 29.6057,39.8287 29.3109,39.7139 C28.9896,39.5885 28.6977,39.3979 28.4539,39.1539 L12.6999,24.7799 L9.23917,27.4037 L5.83434,29.986 C5.70454,30.0845 5.56201,30.1626 5.41164,30.2189 C5.20259,30.2976 4.9783,30.3339 4.7519,30.3239 C4.36361,30.3068 3.99356,30.1543 3.70588,29.8929 L1.50588,27.8929 C1.33452,27.7368 1.19763,27.5466 1.10396,27.3346 C1.01029,27.1225 0.961914,26.8933 0.961914,26.6614 C0.961914,26.4296 1.01029,26.2004 1.10396,25.9883 C1.19763,25.7762 1.33452,25.5861 1.50588,25.4299 L7.45788,19.9999 L4.67072,17.4532 L1.50734,14.5689 C1.33584,14.4129 1.19883,14.2227 1.10507,14.0107 C1.01132,13.7986 0.962891,13.5693 0.962891,13.3374 C0.962891,13.1056 1.01132,12.8763 1.10507,12.6642 C1.19883,12.4521 1.33584,12.262 1.50734,12.1059 L3.70734,10.1059 C3.72926,10.086 3.75165,10.0667 3.7745,10.048 C4.05213,9.82027 4.39666,9.68789 4.7569,9.67196 C5.14519,9.65479 5.52725,9.77401 5.83688,10.0089 L12.6999,15.2179 L28.4519,0.843942 C28.5452,0.751682 28.6455,0.666763 28.7519,0.589942 C29.1153,0.325601 29.5436,0.164633 29.9911,0.124137 C30.0919,0.11502 30.1928,0.112086 30.2933,0.115234 C30.6444,0.123748 30.9918,0.206443 31.3117,0.360027 L39.5477,4.32103 C39.9716,4.52522 40.3292,4.84487 40.5795,5.24325 C40.7787,5.56023 40.9035,5.9168 40.9462,6.28629 C40.9574,6.38148 40.9632,6.47754 40.9633,6.57401 L40.9633,6.67295 C40.9633,6.65781 40.9631,6.64268 40.9627,6.62757 L40.9627,33.3704 C40.9631,33.3552 40.9633,33.3401 40.9633,33.3249 L40.9633,33.4199 C40.9633,33.5146 40.9579,33.609 40.9472,33.7025 C40.9055,34.0754 40.7802,34.4355 40.5793,34.7552 C40.329,35.1534 39.9714,35.4729 39.5477,35.677 L31.3117,39.638 C31.0191,39.7785 30.7037,39.8596 30.3833,39.879 C30.3341,39.882 30.2848,39.8835 30.2354,39.8836 Z M30.9509,10.9369 L19.0028,19.9987 L30.9549,29.0639 L30.9509,10.9369 Z' id='Shape'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  position: relative;
}

/* Add the subtle gradient to the editor background */
.editor .content,
.monaco-editor {
  background-color: transparent !important;
  background-image: linear-gradient(
    to bottom,
    var(--color-22) 75%,
    var(--color-23)
  );
  background-size: auto 100vh;
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
}

.editor-container {
  position: relative;
  overflow: hidden;
}

.editor-group-container:after {
  content: "";
  height: 300px;
  width: 100%;
  display: block;
  background-image: linear-gradient(
      90deg,
      var(--color-21b) 1px,
      rgba(0, 0, 0, 0) 1px
    ),
    linear-gradient(0deg, var(--color-21b) 1px, rgba(0, 0, 0, 0) 1px);
  background-position: bottom;
  background-repeat: repeat;
  background-size: 20px 20px;
  left: -25px;
  position: absolute;
  pointer-events: none;
  bottom: 0;
  transform: perspective(100px) rotateX(60deg);
  z-index: 0;
}
.editor-group-container {
  position: relative;
  overflow: hidden;
}

/* .monaco-editor > .overflow-guard > .monaco-scrollable-element:before { */
.monaco-editor:before,
.editor-group-container:before {
  background-image: repeating-linear-gradient(
    to bottom,
    transparent 0,
    transparent 2px,
    var(--color-24) 2px,
    var(--color-24) 4px
  );
  background-size: 100% 4px cover;
  transform-origin: 50% 50%;
  content: "";
  opacity: 0.02;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* .monaco-editor .overflow-guard .margin {
          background: var(--color-26) ;
      } */

canvas {
  z-index: 2;
}

.minimap-slider {
  z-index: 3;
  background: var(--color-20) !important;
}

.minimap.slider-mouseover {
  z-index: 1;
}

/* Sweet sunset dots */
.monaco-workbench
  .activitybar
  > .content
  .monaco-action-bar
  .badge
  .badge-content {
  background: linear-gradient(to bottom, var(--color-5) 25%, var(--color-5));
}

.monaco-workbench
  .part.editor
  > .content
  .editor-group-container
  > .title
  .tabs-container
  > .tab.sizing-fit::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 0px;
  transition: opacity 1s;
  opacity: 0;
}

/* Active sidebar item */
.monaco-workbench
  .activitybar
  > .content
  .monaco-action-bar
  .action-item.checked {
  box-shadow: inset 0 -5px 25px var(--color-29); /* cor de fundo do item ativo */
  position: relative;
}

.monaco-workbench
  .activitybar
  > .content
  .monaco-action-bar
  .action-item.checked::after {
  content: "";
  position: absolute;
  bottom: 0px;
  top: 0px;
  left: 0px;
  width: 4px;
  background: linear-gradient(
    to bottom,
    var(--color-28),
    var(--color-30)
  ) !important; /*0FF0FF*/
  opacity: 1;
}

.monaco-workbench
  .activitybar
  > .content
  .monaco-action-bar
  .action-item::after {
  content: "";
  position: absolute;
  bottom: 0px;
  top: 0px;
  left: 0px;
  width: 0px;
  transition: opacity 1s;
  opacity: 0;
}

/* Active tab neon */
.monaco-workbench
  .part.editor
  > .content
  .editor-group-container
  > .title
  .tabs-container
  > .tab.active {
  position: relative;
  --tab-border-bottom-color: transparent !important;
}

/* cor da linha debaixo do item ativo */
/* Active tab stripe */
.monaco-workbench
  .part.editor
  > .content
  .editor-group-container
  > .title
  .tabs-container
  > .tab.active::before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 4px;
  background: linear-gradient(
    to right,
    var(--color-blue),
    var(--color-blue-dark)
  );
}

/* update lightbulb to be neon */
.lightbulb-glyph {
  background: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Crect fill='%23ffffff' x='5.68' y='6.93' width='2.1' height='6.1' rx='0.96' transform='translate(-1.94 1.63) rotate(-12.09)'/%3E%3Cpath fill='%230AFD80' d='M7.08,13.5a1.46,1.46,0,0,1-1.43-1.16L4.77,8.26A1.47,1.47,0,0,1,5.9,6.53l.17,0A1.46,1.46,0,0,1,7.81,7.61l.87,4.09a1.46,1.46,0,0,1-1.12,1.73l-.18,0Zm-.7-6h-.1l-.17,0a.45.45,0,0,0-.29.21.45.45,0,0,0-.07.34l.88,4.09a.46.46,0,0,0,.54.35l.18,0a.46.46,0,0,0,.29-.2.48.48,0,0,0,.07-.35L6.83,7.82A.46.46,0,0,0,6.38,7.46Z'/%3E%3Crect fill='%23ffffff' x='8.22' y='6.93' width='2.1' height='6.1' rx='0.96' transform='translate(16.25 21.68) rotate(-167.91)'/%3E%3Cpath fill='%230AFD80' d='M8.93,13.5a1.63,1.63,0,0,1-.31,0l-.18,0A1.46,1.46,0,0,1,7.32,11.7l.87-4.09A1.47,1.47,0,0,1,9.93,6.49l.18,0a1.45,1.45,0,0,1,.92.63,1.47,1.47,0,0,1,.2,1.1l-.88,4.08a1.45,1.45,0,0,1-.63.93A1.48,1.48,0,0,1,8.93,13.5Zm.69-6a.45.45,0,0,0-.25.07.5.5,0,0,0-.2.29L8.3,11.9a.43.43,0,0,0,.06.35.46.46,0,0,0,.29.2l.18,0a.47.47,0,0,0,.55-.35l.87-4.09a.45.45,0,0,0-.06-.34A.47.47,0,0,0,9.9,7.5l-.18,0Z'/%3E%3Cpath fill='%23ffffff' d='M11.77,9l-3.53.67a1,1,0,0,1-1.15-.88h0A1.09,1.09,0,0,1,7.9,7.48l3.53-.67a1,1,0,0,1,1.15.89h0A1.08,1.08,0,0,1,11.77,9Z'/%3E%3Cpath fill='%230AFD80' d='M8.07,10.18A1.54,1.54,0,0,1,6.6,8.83a1.74,1.74,0,0,1,.25-1.22,1.46,1.46,0,0,1,1-.66l3.52-.67A1.51,1.51,0,0,1,13.07,7.6a1.61,1.61,0,0,1-1.22,1.88l-3.52.67A1.15,1.15,0,0,1,8.07,10.18ZM11.6,7.34h-.09L8,8a.53.53,0,0,0-.4.62.5.5,0,0,0,.57.44l3.52-.67a.54.54,0,0,0,.41-.62A.53.53,0,0,0,11.6,7.34Z'/%3E%3Cpath fill='%23ffffff' d='M11.74,6.74,4.67,8.08A1,1,0,0,1,3.52,7.2h0A1.08,1.08,0,0,1,4.33,6l7.06-1.34a1,1,0,0,1,1.16.88h0A1.08,1.08,0,0,1,11.74,6.74Z'/%3E%3Cpath fill='%230AFD80' d='M4.5,8.64a1.44,1.44,0,0,1-.86-.29A1.64,1.64,0,0,1,3,7.29a1.72,1.72,0,0,1,.25-1.21,1.48,1.48,0,0,1,1-.67l7.07-1.34a1.39,1.39,0,0,1,1.11.27A1.65,1.65,0,0,1,13,5.4a1.72,1.72,0,0,1-.25,1.21,1.48,1.48,0,0,1-1,.67L4.76,8.62Zm7.07-3.5h-.09L4.42,6.49a.45.45,0,0,0-.32.22.56.56,0,0,0-.09.4.61.61,0,0,0,.21.35.47.47,0,0,0,.36.09L11.65,6.2A.47.47,0,0,0,12,6a.51.51,0,0,0,.08-.4.55.55,0,0,0-.2-.35A.47.47,0,0,0,11.57,5.14Z'/%3E%3Cpath fill='%23ffffff' d='M11.7,4.52,4.64,5.86A1,1,0,0,1,3.49,5h0A1.09,1.09,0,0,1,4.3,3.72l7.06-1.34a1,1,0,0,1,1.15.88h0A1.09,1.09,0,0,1,11.7,4.52Z'/%3E%3Cpath fill='%230AFD80' d='M4.46,6.42a1.36,1.36,0,0,1-.85-.3,1.58,1.58,0,0,1-.61-1A1.61,1.61,0,0,1,4.21,3.19l7.07-1.34a1.35,1.35,0,0,1,1.11.27,1.58,1.58,0,0,1,.61,1,1.74,1.74,0,0,1-.25,1.22,1.44,1.44,0,0,1-1,.66L4.72,6.39A1.09,1.09,0,0,1,4.46,6.42Zm7.07-3.51h-.08L4.38,4.26a.53.53,0,0,0-.4.62.5.5,0,0,0,.57.44L11.62,4a.47.47,0,0,0,.32-.22.62.62,0,0,0,.08-.4.56.56,0,0,0-.2-.35A.53.53,0,0,0,11.53,2.91Z'/%3E%3Cpath fill='%23ffffff' d='M8.34,2.89,4.57,3.6a1,1,0,0,1-1.15-.88h0a1.08,1.08,0,0,1,.81-1.25L8,.75a1,1,0,0,1,1.15.89h0A1.08,1.08,0,0,1,8.34,2.89Z'/%3E%3Cpath fill='%230AFD80' d='M4.4,4.16a1.44,1.44,0,0,1-.86-.29,1.69,1.69,0,0,1-.61-1.05A1.74,1.74,0,0,1,3.18,1.6a1.51,1.51,0,0,1,1-.67L7.91.22A1.38,1.38,0,0,1,9,.49a1.58,1.58,0,0,1,.61,1.05,1.74,1.74,0,0,1-.25,1.22,1.47,1.47,0,0,1-1,.66l-3.77.72A1.18,1.18,0,0,1,4.4,4.16ZM8.17,1.28H8.09L4.32,2A.45.45,0,0,0,4,2.23a.51.51,0,0,0-.08.4.55.55,0,0,0,.2.35.49.49,0,0,0,.37.09l3.77-.72a.47.47,0,0,0,.32-.22.62.62,0,0,0,.08-.4.56.56,0,0,0-.2-.35A.53.53,0,0,0,8.17,1.28Z'/%3E%3Cpolygon fill='%231e1e1e' points='5.5 11.1 5.5 11.1 5.5 14.4 7.1 16 9.1 16 10.6 14.4 10.6 11.1 5.5 11.1'/%3E%3Cpath fill='%23c5c5c5' d='M6.5,12h3v1h-3Zm1,3H8.6l.9-1h-3Z'/%3E%3C/svg%3E")
    50% no-repeat !important;
  filter: drop-shadow(0 0 5px var(--color-30));
}

.monaco-editor .cursor {
  background: linear-gradient(
    to bottom,
    var(--color-31),
    var(--color-28)
  ); /* barra piscante do local selecionado*/
  box-shadow: 0 0 5px var(--color-18);
  border-color: var(--color-10);
  color: var(--color-32);
}

.monaco-inputbox > .wrapper > textarea.input::selection {
  background-color: var(--color-33);
}

.monaco-editor .line-numbers {
  color: var(--color-5b);
  text-shadow: 0 0 2px var(--color-23), 0 0 35px var(--color-25),
    0 0 10px var(--color-21b), 0 0 2px var(--color-21b);
}

.monaco-editor .line-numbers.active-line-number {
  color: var(--color-7) !important;
  text-shadow: 0 0 2px var(--color-21), 0 0 35px var(--color-9),
    0 0 10px var(--color-9), 0 0 2px var(--color-9) !important;
}

.monaco-list .monaco-list-rows {
  background-color: var(--color-blue-dark2) !important;
}

.monaco-list-row.focused,
.monaco-list-row.selected {
  background-color: var(--color-34) !important;
}

.explorer-folders-view span[title~="emphasized"],
.monaco-icon-label[title~="emphasized"]::after {
  color: var(--color-18);
}

.explorer-folders-view span[title~="problems"],
.monaco-icon-label[title~="problems"]::after {
  color: var(--color-7);
}

.vs-dark .monaco-scrollable-element > .scrollbar > .slider {
  background: var(--color-5) !important;
  opacity: 0.5;
}

.cell-output-ipywidget-background {
  background: var(--color-5) !important;
}
.cell-output-ipywidget-background-br {
  background: var(--color-26) !important;
}

.lm-Widget.p-Widget.lm-Panel.p-Panel.jupyter-widgets.widget-container.widget-box.widget-vbox.widget-interact {
  background: var(--color-26) !important;
}

.cell-output-ipywidget-background {
  background: var(--color-5);
}

.widget-dropdown > select,
.jupyter-widget-dropdown > select {
  padding-right: 20px;
  border: 1px solid #9e9e9e;
  border: var(--jp-widgets-input-border-width) solid
    var(--jp-widgets-input-border-color);
  border-radius: 0;
  height: inherit;
  flex: 1 1 calc(300px / 2 - 2px);
  flex: 1 1 var(--jp-widgets-inline-width-short);
  min-width: 0;
  box-sizing: border-box;
  outline: none !important;
  box-shadow: none;
  background-color: var(--color-5);
  border-color: transparent;
  color: rgba(0, 0, 0, 0.8);
  color: var(--jp-widgets-input-color);
  font-size: 13px;
  font-size: var(--jp-widgets-font-size);
  vertical-align: top;
  padding-left: calc(4px * 2);
  padding-left: calc(var(--jp-widgets-input-padding) * 2);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: right center;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE5LjIuMSwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCAxOCAxOCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMTggMTg7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4KCS5zdDB7ZmlsbDpub25lO30KPC9zdHlsZT4KPHBhdGggZD0iTTUuMiw1LjlMOSw5LjdsMy44LTMuOGwxLjIsMS4ybC00LjksNWwtNC45LTVMNS4yLDUuOXoiLz4KPHBhdGggY2xhc3M9InN0MCIgZD0iTTAtMC42aDE4djE4SDBWLTAuNnoiLz4KPC9zdmc+Cg);
  background-image: var(--jp-widgets-dropdown-arrow);
}

.widget-label {
  color: var(--color-35) !important;
}

.jupyter-widgets {
  background: var(--color-5) !important;
  color: var(--color-35) !important;
}

.jupyter-button {
  background: var(--color-5) !important;
  color: var(--color-35) !important;
}
/* add vertical line in 72th to 79th character position */
.view-line {
  background-image: linear-gradient(
    to left,
    var(--color-5) -500%,
    var(--color-2)
  );
  background-size: 64px 100%;
  background-repeat: no-repeat;
  background-position: 32.35vw center;
}

/* add vertical line in 79th character position */
.view-lines.monaco-mouse-cursor-text {
  background-image: linear-gradient(
    to bottom,
    var(--color-4) 50%,
    var(--color-5)
  );
  background-size: 2px 100%;
  background-repeat: no-repeat;
  background-position: 35.5vw center;
}
